@import '../../utils/styles/colors.scss';

.header-home {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: $secondary;
    height: 223px;
    width: 1240px;
    margin-top: 70px;
    @media (max-width: 1080px) {
      height: 111px;
      margin-top: 0px;
      width: 90%;
    }
}

.title-home{
    font-weight: normal;
    font-size: 48px;
    color: $tertiary;
    z-index: 100;
    position: absolute;
    @media (max-width: 1080px) {
      font-size: 35px;
      width: 300px;
    }
}
.banner-home{
    object-fit: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 48px;
    opacity: 0.7;
    border-radius: 25px;
    width: 1240px;
    @media (max-width: 1080px) { 
       width: 90%;
       height: 111px;
       font-size: 24px;
     }
}

.card-container-home{
    z-index: 10;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    width: 1240px;
    height: auto;
    background: #F7F7F7;
    border-radius: 25px;
    padding-top: 56px;
    padding-bottom: 56px;
    @media (max-width: 1080px) {
        background: none;
        width: auto;
      }
}

