@import '../../utils/styles/colors.scss';

.DisplayFrame::-webkit-scrollbar {
  display: none;
}

.DisplayFrame {
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
  z-index: 1;
  caret-color: transparent;
  @media (max-width: 1080px) {
    height: 255px;
    width: auto;
  }
}

.Arrow:hover {
  cursor: pointer;
}

.RightArrow,
.RightArrow:hover {
  display: block;
  position: absolute;
  z-index: 2;
  left: 94%;
  cursor: pointer;
  @media (max-width: 1080px) {
    width: 11.67px;
    height: 19.8px;
  }
  @media (max-width: 768px) {
    left: 90%;
    width: 11.67px;
    height: 19.8px;
  }
}
.LeftArrow,
.LeftArrow:hover {
  position: absolute;
  z-index: 2;
  padding: 23.36px;
  cursor: pointer;
  @media (max-width: 1080px) {
    width: 11.67px;
    height: 19.8px;
  }
}

.slide-count {
  color: rgba(255, 255, 255, 1);
  left: 48.95%;
  right: 49.11%;
  top: 80%;
  position: absolute;
  font-size: 26px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  @media (max-width: 768px) {
    display: none;
  }
}
.Container {
  position: relative;
  height: 415px;
  width: 1240px;
  display: flex;
  align-items: center;
  @media (max-width: 1080px) {
    width: 550px;
    height: 255px;
  }
  @media (max-width: 768px) {
    height: 255px;
    width: 335px;
  }
}

.CarouselItem {
  touch-action: none;
  display: inline-block;
  transition: all 500ms linear;
}

.CarouselItem img {
  height: 415px;
  width: 1243px;
  border-radius: 25px;
  object-fit: cover;
  @media (max-width: 1080px) {
    width: 550px;
    height: 255px;
  }

  @media (max-width: 768px) {
    height: 255px;
    width: 335px;
  }
}
