@import '../../utils/styles/colors.scss';

.DisplayFrame::-webkit-scrollbar {
  display: none;
}

.DisplayFrame {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  @media (max-width: 1080px) {
    height: 255px;
    width: auto;
  }
}

.Arrow:hover {
  cursor: pointer;
}

.RightArrow,
.RightArrow:hover {
  display: block;
  position: absolute;
  z-index: 2;
  left: 94%;
  cursor: pointer;
  @media (max-width: 1080px) {
    width: 11.67px;
    height: 19.8px;
  }
  @media (max-width: 768px) {
    left: 90%;
    width: 11.67px;
    height: 19.8px;
  }
}
.LeftArrow,
.LeftArrow:hover {
  position: absolute;
  z-index: 2;
  padding: 23.36px;
  cursor: pointer;
  @media (max-width: 1080px) {
    width: 11.67px;
    height: 19.8px;
  }
}

.slide-count {
  color: rgba(255, 255, 255, 1);
  left: 600px;
  top: 130px;
  position: absolute;
  font-size: 26px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  @media (max-width: 1080px) {
    display: none;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
.Container {
  position: relative;
  height: 415px;
  width: 1240px;
  display: flex;
  align-items: center;
  @media (max-width: 1080px) {
    width: 550px;
    height: 255px;
  }
  @media (max-width: 768px) {
    height: 255px;
    width: 335px;
  }
}


.styledImage {
  bottom: -220px;
  position: absolute;
  height: 415px;
  width: 1243px;
  border-radius: 25px;
  object-fit: cover;
  @media (max-width: 1080px) {
    bottom: 0px;
    width: 550px;
    height: 255px;
  }

  @media (max-width: 768px) {
    bottom: 0px;
    height: 255px;
    width: 335px;
  }
}

.slide {
  transition: all 500ms linear;
  opacity: 0;
  transition-duration:  1s ease;
}

.slide.active{
  opacity: 1;
  transition-duration: 1;
  transform: scale(1.08);
}

.arrowNone{
  display: none;
}