@import '../../utils/styles/colors.scss';

.container-header{
    height: 415px;
    width: 1240px;
    background-color: white;
    @media (max-width: 1080px) {
      height: 255px;
      margin-top: 0px;
      width: 90%;
    }
}

.banner-about{
    object-fit: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 48px;
    opacity: 0.7;
    border-radius: 25px;
    width: 1240px;
    @media (max-width: 1080px) { 
       width: 90%;
       height: 255px;
     }
}

